.contentInner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aboutUsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.schoolBlock {
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: var(--c-blue-600);
  border-radius: 0.2rem;
  box-shadow: 0rem 0.3rem 0.6rem var(--c-blue-800);
}

@media (max-width: 500px) {
  .schoolBlock {
    font-size: 1rem;
  }
}
