@import '../../styles/colors.scss';
.response {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

.responseCode {
  font-size: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.responseBlock {
  border-top: 0.1rem solid $c-pink-500;
  padding: 0.5rem 1rem;
  width: 100%;
}

.responseSummary {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    right: 0;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  .responseBlock[open] &::before {
    transform: rotate(45deg);
  }

  &::before {
    border: solid $c-pink-500;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    vertical-align: middle;
    right: 0;
  }
}

.noResponse {
  text-align: center;
  color: $c-blue-100;
  font-weight: 600;
}

.responseStatusOk {
  color: rgb(73, 230, 73);
}

.responseStatusError {
  color: rgb(252, 35, 35);
}
