@import '../../../styles/colors.scss';
.historyBlock {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: $c-blue-100;
}

.title {
  text-align: center;
}

.buttonBlock {
  display: flex;
  gap: 2rem;
}

.resultBlock {
  display: flex;
  gap: 1rem;
}

.method {
  color: $c-pink-500;
}

.linksBlock {
  display: flex;
  flex-direction: column;
}

.historyLink {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media (max-width: 1200px) {
  .historyLink {
    max-width: 50rem;
    line-clamp: 2;
    word-wrap: break-word;
  }
}

@media (max-width: 550px) {
  .historyLink {
    max-width: 30rem;
  }
}
