@import '../../styles/colors.scss';
.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 2rem;
  background-color: $c-blue-500;
  color: $c-white;
}

.RestBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}

.methodBlock {
  width: 100%;
  display: flex;
  padding: 0.3rem;
  color: $c-blue-500;
  border: 1px solid $c-blue-100;
  box-shadow: $c-box-shadow;
  border-radius: 0.4rem;
  background-color: $c-pink-100;
}

.customSelect {
  position: relative;
  width: 10rem;
  font-size: 1.5rem;
  padding: 1rem;
  padding-right: 1px;
  color: $c-blue-500;
  background-color: $c-pink-100;
  border: none;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }

  & option {
    padding: 1rem;
    font-size: 1.5rem;
    color: $c-blue-500;
    background-color: $c-pink-100;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $c-white;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 5px rgba(247, 247, 248, 0.5);
  }
}

.inputUrl {
  width: 100%;
  padding-left: 2rem;
  border-left: 1px solid $c-blue-500;
  &:focus {
    box-shadow: 0 0 3px 5px rgba(247, 247, 248, 0.5);
  }
}

.response {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.responseBlock {
  border-top: 0.1rem solid $c-pink-500;
  padding: 0.5rem 1rem;
  width: 100%;
}

.responseSummary {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    right: 0;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  .responseBlock[open] &::before {
    transform: rotate(45deg);
  }

  &::before {
    border: solid $c-pink-500;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    vertical-align: middle;
    right: 0;
  }
}

.noResponse {
  text-align: center;
  color: $c-blue-100;
  font-weight: 600;
}

.responseStatusOk {
  color: rgb(73, 230, 73);
}

.responseStatusError {
  color: rgb(252, 35, 35);
}
