.contentInner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aboutUsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.description {
  max-width: 100rem;
}
