$c-white: #ffffff;
$c-pink-100: #fee1dd;
$c-pink-300: #e9c2c5;
$c-pink-500: #cea0aa;
$c-blue-100: #b8d8e3;
$c-blue-300: #9db0ce;
$c-blue-500: #535878;
$c-error-red: #c52424;
$c-gray: gray;
$c-black: black;
$c-box-shadow:  rgb(0 0 0 / 12%) 0px 2px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
